<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="maximum-scale=1">

    <title>Банки.ру 10 лет</title>

    <link href="dist/css/main.css" rel="stylesheet">
    <link href="dist/css/fixed-positioning.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <noscript><link href="icons.fallback.css" rel="stylesheet"></noscript>
</head>

<body>

    <div class="app"></div>

    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div id="skrollr-body"></div>

    <div id="video-container" class="section section--fixed section--invert section--center video-container">

        <div class="header-container">
            <img src="assets/img/logo.png" alt=""/>
        </div>

        <div class="section__wrap">
            <header class="section__header section__header--small">
                <small>Гимн Банки.ру</small><br />
                «Замыкая круг»
            </header>
            <section class="section__content">
                <div class="balls left" data-0="margin-top:0px;" data-100p="margin-top:-100px;">
                    <img src="assets/img/balls-left.png" alt=""/>
                </div>
                <div class="balls right" data-0="margin-top:0px;" data-100p="margin-top:-100px;">
                    <img src="assets/img/balls-right.png" alt=""/>
                </div>

                <video id="home-video" class="video video-js vjs-default-skin" controls preload="auto" width="982" height="586" poster="http://www.videojs.com/img/poster.jpg">
                    <source src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4'>
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser
                        that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>

                <div class="icon icon--xl icon-expand-white animated infinite bounce scrolldown"></div>

            </section>
        </div>

    </div>

    <div id="congratulations-container" class="section section--center congratulations-container" data-_congratulations="top:100%;" data-100p="top:0%;">

        <div class="section__wrap">
            <header class="section__header" data-0="margin-top: -20px; opacity: 0;" data-25p="margin-top: 0px; opacity: 1;">Поздравления от первых лиц</header>
            <section class="section__content">

                <div class="person__carousel wait">

                </div>

                <div class="video__carousel wait">

                </div>

            </section>
        </div>

    </div>

    <div id="numerals-container" class="section section--invert section--center numerals-container" data-_numerals="top:100%;" data-_numerals-100p="top:0%;">

        <div class="section__wrap">
            <header class="section__header" data-_numerals="margin-top: -20px; opacity: 0;" data-_numerals-25p="margin-top: 0px; opacity: 1;">
                Цифры десятилетия<br />
                <small>Жизненно утверждающий слоган который побуждает</small>
            </header>
            <section class="section__content middle-block" style="height: 84%;">

                <div class="numerals__carousel">
                    <div class="item">
                        <div class="section__container">
                            <ul class="numerals">
                                <li class="numerals__item">
                                    <div class="numerals__icon"></div>
                                    <div class="numerals__digit" data-counter-start="0" data-counter-end="610977" data-counter-duration="1">0</div>
                                    <div class="numerals__description">зарегистрированных пользователей на форуме</div>
                                </li>
                                <li class="numerals__item">
                                    <div class="numerals__icon"></div>
                                    <div class="numerals__digit" data-counter-start="0" data-counter-end="168348" data-counter-duration="1">168 348</div>
                                    <div class="numerals__description">отзывов в «Народном рейтинге»</div>
                                </li>
                                <li class="numerals__item">
                                    <div class="numerals__icon"></div>
                                    <div class="numerals__digit" data-counter-start="0" data-counter-end="2000000" data-counter-duration="1">2 000 000</div>
                                    <div class="numerals__description">новостей опубликовано на Банки.ру за 10 лет</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="section__container">
                            <ul class="numerals">
                                <li class="numerals__item">
                                    <div class="numerals__icon"></div>
                                    <div class="numerals__digit" data-counter-start="0" data-counter-end="610977" data-counter-duration="1">0</div>
                                    <div class="numerals__description">зарегистрированных пользователей на форуме</div>
                                </li>
                                <li class="numerals__item">
                                    <div class="numerals__icon"></div>
                                    <div class="numerals__digit" data-counter-start="0" data-counter-end="168348" data-counter-duration="1">168 348</div>
                                    <div class="numerals__description">отзывов в «Народном рейтинге»</div>
                                </li>
                                <li class="numerals__item">
                                    <div class="numerals__icon"></div>
                                    <div class="numerals__digit" data-counter-start="0" data-counter-end="2000000" data-counter-duration="1">2 000 000</div>
                                    <div class="numerals__description">новостей опубликовано на Банки.ру за 10 лет</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </section>
        </div>

    </div>

    <div id="history-container" class="section section--invert section--center history-container" data-0="top:100%;" data-_history="top:100%;" data-_history-100p="top:0px;">

        <div class="timeline" data-_history-20p="left:-150px; opacity: 0;" data-_history-100p="left:0px; opacity: 1;">
            <ul>
                <li><a href="" class="timeline__link" id="history-y1"> <span class="bullet"></span> <p>2004</p></a> </li>
                <li><a href="" class="timeline__link" id="history-y2"> <span class="bullet"></span> <p>2005</p></a> </li>
                <li><a href="" class="timeline__link" id="history-y3"> <span class="bullet"></span> <p>2006</p></a> </li>
                <li><a href="" class="timeline__link" id="history-y4"> <span class="bullet"></span> <p>2007</p></a> </li>
                <li><a href="" class="timeline__link" id="history-y5"> <span class="bullet"></span> <p>2008</p></a> </li>
                <li><a href="" class="timeline__link" id="history-y6"> <span class="bullet"></span> <p>2009</p></a> </li>
                <li><a href="" class="timeline__link" id="history-y7"> <span class="bullet"></span> <p>2010</p></a> </li>
                <li><a href="" class="timeline__link" id="history-y8"> <span class="bullet"></span> <p>2011</p></a> </li>
                <li><a href="" class="timeline__link" id="history-y9"> <span class="bullet"></span> <p>2012</p></a> </li>
                <li><a href="" class="timeline__link" id="history-y10"> <span class="bullet"></span> <p>2013</p></a> </li>
                <li><a href="" class="timeline__link" id="history-y11"> <span class="bullet"></span> <p>2014</p></a> </li>
                <li><a href="" class="timeline__link" id="auto"> <span class="bullet"></span> <p>Просмотреть</p></a> </li>
            </ul>
            <div class="time">
                <div class="progress" data-_history1="height:0px;" data-_history10="height:400px;"></div>
            </div>
        </div>

        <div class="section__wrap">
            <header class="section__header" data-200p="margin-top: -20px; opacity: 0;" data-225p="margin-top: 0px; opacity: 1;">История  Банки.ру</header>
            <section class="section__content">
                <div data-_history1="opacity:0;" data-_history1-25p="opacity:1;" data-_history1-100p="opacity:1;" data-_history1-125p="opacity:0;" style="width: 200px; height: 200px;">

                </div>
                <div data-_history2="opacity:0;" data-_history2-25p="opacity:1;" data-_history2-100p="opacity:1;" data-_history2-125p="opacity:0;" style="width: 200px; height: 200px;">

                </div>
                <div data-_history3="opacity:0;" data-_history3-25p="opacity:1;" data-_history3-100p="opacity:1;" data-_history3-125p="opacity:0;" style="width: 200px; height: 200px;">

                </div>
                <div data-_history4="opacity:0;" data-_history4-25p="opacity:1;" data-_history4-100p="opacity:1;" data-_history4-125p="opacity:0;" style="width: 200px; height: 200px;">

                </div>
                <div data-_history5="opacity:0;" data-_history5-25p="opacity:1;" data-_history5-100p="opacity:1;" data-_history5-125p="opacity:0;" style="width: 200px; height: 200px;">

                </div>
                <div data-_history6="opacity:0;" data-_history6-25p="opacity:1;" data-_history6-100p="opacity:1;" data-_history6-125p="opacity:0;" style="width: 200px; height: 200px;">

                </div>
                <div data-_history7="opacity:0;" data-_history7-25p="opacity:1;" data-_history7-100p="opacity:1;" data-_history7-125p="opacity:0;" style="width: 200px; height: 200px;">

                </div>
                <div data-_history8="opacity:0;" data-_history8-25p="opacity:1;" data-_history8-100p="opacity:1;" data-_history8-125p="opacity:0;" style="width: 200px; height: 200px;">

                </div>
                <div data-_history9="opacity:0;" data-_history9-25p="opacity:1;" data-_history9-100p="opacity:1;" data-_history9-125p="opacity:0;" style="width: 200px; height: 200px;">

                </div>
                <div data-_history10="opacity:0;" data-_history10-25p="opacity:1;" data-_history10-100p="opacity:1;" data-_history10-125p="opacity:0;" style="width: 200px; height: 200px;">

                </div>
                <div data-_history11="opacity:0;" data-_history11-25p="opacity:1;" data-_history11-100p="opacity:1;" data-_history11-125p="opacity:0;" style="width: 200px; height: 200px;">

                </div>
            </section>
        </div>

    </div>

    <div id="essays-container" class="section section--center essays-container" data-_essays="top:100%;" data-_essays-100p="top:0%;">

        <div class="section__wrap">
            <header class="section__header" data-_essays="margin-top: -20px; opacity: 0;" data-_essays-25p="margin-top: 0px; opacity: 1;">Эссе сотрудников</header>
            <section class="section__content middle-block" style="height: 90%;">

                <div class="employee__carousel wait">

                </div>

            </section>
        </div>

    </div>

    <div id="forum-container" class="section section--invert section--center forum-container" data-_forum="top:100%;" data-_forum-100p="top:0px;">

        <div class="balloon balloon--blue" data-_forum="margin-top:0px;">
            <img src="assets/img/balls-blue.png" alt=""/>
        </div>

        <div class="balloon balloon--red" data-_forum="margin-top:0px;">
            <img src="assets/img/balls-red.png" alt=""/>
        </div>

        <div class="forum-container-wrapper" data-_forum-100p="top:0px;" style="width: 100%;">
            <div class="section__wrap">
                <header class="section__header" data-_forum="margin-top: -20px; opacity: 0;" data-_forum-25p="margin-top: 0px; opacity: 1;">Поздравления форума</header>

                <section class="section__content">

                    <div class="section__container">
                        <ul class="forum">

                        </ul>

                        <button class="btn btn-default">Перейти на форум</button>
                    </div>

                </section>
                <footer class="section section--invert section--center footer-container">

                    <div class="section__wrap">
                        <div class="footer-container__logo">
                            <img src="assets/img/logo-footer.png" alt=""/>
                        </div>

                        <p>Поделиться:</p>

                        <div class="social-likes social-likes--invert social-likes_light" data-counters="no">
                            <div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
                            <div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
                            <div class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</div>
                            <div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
                            <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
                            <div class="livejournal" title="Поделиться ссылкой в LiveJournal">LiveJournal</div>
                        </div>
                    </div>

                </footer>
            </div>
        </div>

    </div>

    <div class="menu">
        <span class="menu__trigger"><span>Menu</span></span>
        <span class="menu__trigger menu__trigger--invert" data-0="opacity:0;" data-_numerals-99p="opacity:0;" data-_numerals-100p="opacity:1;" data-_essays-99p="opacity:1;" data-_essays-100p="opacity:0;" data-_forum-99p="opacity:0;" data-_forum-100p="opacity:1;"><span>Menu</span></span>

        <nav class="menu__container">
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="#congratulations-container" data-goto="1">Поздравление от первых лиц</a>
                </li>
                <li class="menu__item">
                    <a href="#numerals-container" data-goto="2">Цифры десятилетия</a>
                </li>
                <li class="menu__item">
                    <a href="#history-container" data-goto="3">История Банки.ру</a>
                </li>
                <li class="menu__item">
                    <a href="#essays-container" data-goto="16">Эссе сотрудников</a>
                </li>
                <li class="menu__item">
                    <a href="#footer-container" data-goto="17">Позравление форумчан</a>
                </li>
            </ul>
        </nav>
    </div>

    <script type="text/template" id="forum-item-template">
        <li class="forum__item">
            <div class="forum__photo">
                <img src="<%= photo %>" alt=""/>
            </div>
            <div class="forum__name"><%= name %></div>
            <div class="forum__text"><%= text %></div>
        </li>
    </script>

    <script type="text/template" id="congratulations-item-template">
        <div class="item">
            <div class="section__container">
                <div class="person">
                    <figure class="person__photo">
                        <img src="<%= photo %>" alt=""/>
                    </figure>
                    <div class="person__description">
                        <p class="person__name"><%= name %></p>
                        <p class="person__subname"><%= subname %></p>
                        <div class="person__text"><%= text %></div>
                        <a href='#/greeting/executive/<%= id %>' class="btn btn-default">Прочитать</a>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="video-item-template">
        <div class="item">
            <div class="video">
                <p class="video__name"><%= name %></p>
                <p class="video__subname"><%= subname %></p>
                <figure class="video__photo">
                    <a href='#/greeting/executive/<%= id %>'>
                        <img src="<%= photo %>" alt=""/>
                    </a>
                </figure>
            </div>
        </div>
    </script>

    <script type="text/template" id="essays-item-template">
        <div class="employee__item">
            <a href='#greeting/team/<%= id %>' class="employee__link">
                <figure class="employee__photo">
                    <img src="<%= photo %>" alt=""/>
                </figure>
                <div class="employee__name"><%= name %></div>
                <div class="employee__subname"><%= subname %></div>
                <div class="employee__text"><%= text %></div>
            </a>
        </div>
    </script>

    <script type="text/template" id="essays-template">
        <div class="item">
            <div class="section__container">
                <ul class="employee">
                    <%= item %>
                </ul>
            </div>
        </div>
    </script>

    <script type="text/template" id="modal-template">
        <div class="modal__wrapper">
            <div class="modal">
                <span class="modal__close icon-cross-white"></span>
                <div class="modal__container"></div>
                <div class="modal__bottombar">
                    <div class="social-likes social-likes_light" data-counters="no">
                        <div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
                        <div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
                        <div class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</div>
                        <div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
                        <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
                        <div class="livejournal" title="Поделиться ссылкой в LiveJournal">LiveJournal</div>
                    </div>
                </div>
                <span class="modal__nav modal__nav--left" data-direction="left">
                    <span class="icon icon-left-white"></span>
                </span>
                <span class="modal__nav modal__nav--right" data-direction="right">
                    <span class="icon icon-right-white"></span>
                </span>
            </div>
        </div>
    </script>

    <script type="text/template" id="video-modal-template">
        <div class="modal__topbar">
            <h3 class="modal__title">
                Олег Тиньков
                <small>глава банка «Тинькофф. Кредитные Системы»</small>
            </h3>
        </div>
        <div class="modal__section modal__section--wide">
            <video id="video" class="video-js vjs-default-skin" controls preload="auto" width="982" height="586" poster="http://www.videojs.com/img/poster.jpg">
                <source src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4'>
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser
                    that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
    </script>

    <script type="text/template" id="essays-modal-template">
        <div class="modal__topbar">
            <h3 class="modal__title">
                <%= name %>
                <small><%= subname %></small>
            </h3>
        </div>
        <div class="modal__section">
            <figure class="employee__photo">
                <img src="<%= photo %>" alt=""/>
            </figure>
            <%= text %>
        </div>
    </script>

    <script type="text/template" id="congratulations-modal-template">
        <div class="modal__topbar">
            <h3 class="modal__title">
                <%= name %>
                <small><%= subname %></small>
            </h3>
        </div>
        <% if (video && typeof(video) !== "undefined") { %>
            <div class="modal__section modal__section--wide">
                <video id="video" class="video-js vjs-default-skin" controls preload="auto" width="982" height="586" poster="http://www.videojs.com/img/poster.jpg">
                    <source src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4'>
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser
                        that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
        <% } else { %>
            <div class="modal__section">
                <figure class="person__photo">
                    <img src="<%= photo %>" alt=""/>
                </figure>
                <%= text %>
            </div>
        <% } %>
    </script>

    <!-- Application source. -->
    <script src="dist/js/main.js"></script>

</body>
</html>
