@media screen and (max-height: 800px) {

	.section {
		&--fixed {

		}
		&__wrap {
			padding: 20px 0;
		}
	}
	.header-container {
		img {
			width: 150px;
		}
	}
	.video-container {
		.video {
			position: relative;
			width: 800px;
			height: 406px;
		}

		.balls {
			position: absolute;
			left: 50%;
			margin-top: 0;
			z-index: 1;

			&.left {
				top: 240px;
				margin-left: -507px;
			}
			&.right {
				top: 215px;
				margin-left: 360px;
			}
		}
	}
	.timeline, .timeline .time {
		height: 350px;
	}
	.numerals {
		margin: 40px 0;
	}
	.menu {
		&__trigger {
			top: 34px;
		}
	}

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}


@media (max-width: @screen-xs-max) {

}


@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.section {
		&__container {
			width: 960px;
		}
	}
	.numerals {
		&__item {
			width: 320px;
		}
	}
	.employee {
		&__item {
			width: 210px;
		}
		&__photo {
			.square(200px);
		}
	}
	.forum {
		&__item {
			width: 290px;
		}
	}
}


@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.section {
		&__container {
			width: 960px;
		}
	}
	.numerals {
		&__item {
			width: 320px;
		}
	}
	.employee {
		&__item {
			width: 210px;
		}
		&__photo {
			.square(200px);
		}
	}
	.forum {
		&__item {
			width: 290px;
		}
	}
}

@media (min-width: @screen-lg-min) {
	.section {
		&__container {
			width: 1140px;
		}
	}
	.numerals {
		&__item {
			width: 380px;
		}
	}
	.employee {
		&__item {
			width: 255px;
		}
		&__photo {
			.square(225px);
		}
	}
	.forum {
		&__item {
			width: 350px;
		}
	}
}
