
.carousel-control {
	background: none;

	&.right {
		background: url("../img/arrow-right.png") no-repeat 90% 50%;
	}
	&.left {
		background: url("../img/arrow-left.png") no-repeat 10% 50%;
	}
}
.carousel-indicators {
	bottom: -80px;

	li {
		border: 1px solid #f1c40f;
		background: #f1c40f;
		margin: 0 8px;
		.square(12px);
	}
	.active {
		border: 1px solid #000000;
		background: #000000;
		margin: 0 8px;
	}
}

.btn {
	&:extend(.btn, .btn-default);
	font-family: 'Fira Sans Light';
	background: #f1c40f;
	font-size: 18px;
	line-height: 18px;
	font-weight: 100;
	text-transform: uppercase;
	border-radius: 0;
	padding: 15px 20px;
}

.make-index(@index) {
	z-index: @index * 10;
}

body {
	background: #fff;
	color: #222222;
	font-family: 'Fira Sans';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 700;
	line-height: 1;
	margin: 18px 0;
}



.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

#qLoverlay {
//	background: #ffffff url(../img/logo.png) 50% 30% no-repeat;
//	background-size:  274px 108px;
	background: #ffffff;

	position: fixed;
	z-index: 666999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.section {
	background: #fff;
	width: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;
	.make-index(1);

	&--fixed {
		position: fixed;
	}
	&--center {
		text-align: center;
	}
	&--invert {
		color: #FFFFFF;

		.section__header {
			color: #FFFFFF;
		}
	}

	&__wrap {
		padding: 40px 0;
	}
	&__header {
		font-family: 'Yanone Kaffeesatz Extra Light';
		font-size: 75px;
		font-weight: 100;
		line-height: 70px;
		color: #303030;
		margin-bottom: 36px;
		width: 100%;

		small {
			font-size: 40px;
			line-height: 30px;
		}

		&--small {
			font-family: 'Fira Sans';
			font-size: 36px;
			font-weight: 500;
			line-height: 40px;
			margin-bottom: 18px;

			small {
				font-size: 20px;
			}
		}
	}
}

.video-container {
	background: #a53e76 url("../img/pattern-1.png");
	width: 100%;
	height: 960px;
	top: 0;
	left: 0;

	.video {
		position: relative;
		width: 980px;
		height: 552px;
		border: 10px solid #FFFFFF;
		background: #000000;
		z-index: 2;
		.center-block();
	}

	.balls {
		position: absolute;
		left: 50%;
		margin-top: 0;
		z-index: 1;

		&.left {
			.size(172px, 531px);
			top: 240px;
			margin-left: -597px;
		}
		&.right {
			.size(160px, 479px);
			top: 215px;
			margin-left: 450px;
		}
	}
}

.header-container {
//	height: 150px;
	background: #FFFFFF;
	width: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	padding: 20px 0;
	.box-shadow(0 8px 0 rgba(0,0,0,.1));
	.make-index(1);
}

.congratulations-container {
	height: 85%;
	background: #fcfbf7 url("../img/pattern-2.png");
	padding-top: 40px;
	.make-index(2);

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 40px;
		background: url("../img/pattern-3.png");
	}
}

.numerals-container {
	min-height: 100%;
	background: #b19c71;
	background: linear-gradient(45deg, rgba(98,99,93,1) 0%, rgba(130,130,113,1) 34%, rgba(117,96,69,1) 73%, rgba(40,40,40,1) 100%);
}

.history-container {
	min-height: 100%;
	background: #742264;

	&:after {
		content: '';
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		left: -50%;
		padding-bottom: 100%;
		height: 100%;
		transform: skew(-45deg,0);
		background: rgba(0,0,0,.1);
//		background: linear-gradient(to top left, rgba(0,0,0,.1) 0%, rgba(0,0,0,.1) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
	}

}

.essays-container {
	height: 100%;
	background: #fcfbf7 url("../img/pattern-2.png");
	padding-top: 40px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 40px;
		background: url("../img/pattern-3.png");
	}
}

.forum-container {
	height: 100%;
	background: #fcfbf7 url("../img/pattern-4.png");
	padding-top: 40px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 40px;
		background: url("../img/pattern-3.png");
	}
}

.footer-container {
	background: #000000;
	width: 100%;
	height: 275px;
}


.timeline {
//	position: fixed;
	position: absolute;
	left: 0;
	height: 400px;
	width: 150px;
	top: 50%;
	margin-top: -150px;
	z-index: 10000;
	overflow: visible;

	ul {
		list-style: none;
		padding: 0;
		height: 100%;
		width: 100%;
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000;

		li {
			display: block;
			height: 40px;
			clear: both;
			position: absolute;
			margin-top: -7px;

			@outer: (100% / 10);

			&:nth-child(1) {
				top: 0;
			}
			&:nth-child(2) {
				top: (@outer * 1);
			}
			&:nth-child(3) {
				top: (@outer * 2);
			}
			&:nth-child(4) {
				top: (@outer * 3);
			}
			&:nth-child(5) {
				top: (@outer * 4);
			}
			&:nth-child(6) {
				top: (@outer * 5);
			}
			&:nth-child(7) {
				top: (@outer * 6);
			}
			&:nth-child(8) {
				top: (@outer * 7);
			}
			&:nth-child(9) {
				top: (@outer * 8);
			}
			&:nth-child(10) {
				top: (@outer * 9);
			}
			&:nth-child(11) {
				top: (@outer * 10);
			}
			&:nth-child(12) {
				top: (@outer * 11);
			}

			a {
				color: #ffffff;
				padding-left: 20px;
				font-size: 16px;
				line-height: 16px;

				&.active {
					.bullet {
						background: #000;
						border: solid 3px #ffffff;
					}
					p {
						.opacity(1);
					}
				}

				p {
					float: left;
					display: block;
					width: 60px;
					margin: 0;
					.opacity(.5);
				}
			}

			.bullet {
				width: 14px;
				height: 14px;
				border: 1px solid #95628b;
				border: 1px solid rgba(255,255,255,.5);
				border-radius: 50%;
				background: #671e59;
				display: inline-block;
				float: left;
				margin: 0 10px 0 20px;
			}
		}
	}

	.time {
		width: 1px;
		background: #95628b;
		position: absolute;
		top: 0;
		left: 26px;
		height: 400px;
		z-index: 999;

		.progress {
			width: 1px;
			background: #ffffff;
			position: absolute;
			top: 0;
		}
	}
}

.person {
	width: 1024px;
	display: inline-block;

	&__photo {
		width: 292px;
		height: 363px;
		border: 10px solid #FFFFFF;
		position: relative;
		overflow: hidden;
		margin-bottom: 20px;
		background: #FFFFFF;
		float: left;
		.box-shadow(8px 8px 0 rgba(0,0,0,.1));

		img {
			width: auto;
			height: 100%;
		}
	}
	&__description {
		text-align: left;
		margin-left: 342px;
	}
	&__name {
		font-size: 30px;
		font-weight: 500;
		line-height: 30px;
		margin-bottom: 8px;
	}
	&__subname {
		font-style: italic;
		margin-bottom: 18px;
	}
	&__text {
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 36px;
	}

	&__carousel {
		position: relative !important;
		margin-top: 120px;
	}
}

.numerals {
	list-style: none;
	margin: 110px 0;
	padding: 0;

	&__item {
		width: 360px;
		display: inline-block;
		padding: 0 45px;
		vertical-align: top;
	}
	&__icon {
		display: inline-block;
		background: #f39c12;
		border-radius: 50%;
		margin-bottom: 20px;
		.square(208px);
		.box-shadow(5px 5px 0 rgba(0,0,0,.1));
	}
	&__digit{
		font-size: 45px;
		line-height: 45px;
		margin-bottom: 10px;
	}
	&__description {
		line-height: 25px;
	}
	&__carousel {
		position: relative !important;
		margin-top: 200px;
	}
}

.employee {
	list-style: none;
	margin: 110px 0;
	padding: 0;

	&__item {
		width: 255px;
		display: inline-block;
		margin: 0 15px;
		padding: 20px 0;
		vertical-align: top;
		background: #ffffff;
		background: rgba(255,255,255,.5);
	}
	&__photo {
		display: inline-block;
		margin-bottom: 14px;
	}
	&__name {
		line-height: 25px;
		font-weight: 700;
//		margin-bottom: 10px;
	}
	&__subname {
		font-size: 14px;
		line-height: 25px;
		font-style: italic;
		margin-bottom: 14px;
	}
	&__meta {
		margin-bottom: 14px;
	}
	&__text {
		line-height: 25px;
		margin-bottom: 20px;
	}
	&__link {
		height: 24px;
		background: url("../img/arrow-link-right.png") no-repeat center center;
	}
	&__carousel {
		position: relative !important;
		margin-top: 0;

		.carousel-indicators {
			bottom: 20px;
		}
	}
}















.form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: @font-size-base;
	line-height: @line-height-base;
	color: @text-color;
	border: 1px solid #c2c2c2;
	border-radius: 0;
    background: #ffffff;
	.box-shadow(none);
	.form-control-focus();
	.placeholder();

	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		cursor: not-allowed;
		background-color: @input-bg-disabled;
		opacity: 1;
	}

	textarea& {
		height: auto;
	}

    &:focus {
        .box-shadow(none);
    }
}



.btn-text {
	&:extend(.btn, .btn-default);
	background: none;
	border: 0;
	text-transform: none;
	font-weight: normal;
	color: @text-color;
	font-size: inherit;
	letter-spacing: inherit;
	text-decoration: none;

	&:hover, &:focus {
		background: none;
		border: 0;
		text-decoration: none;
	}
}

.btn-social {
	display: block;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
	text-transform: none;

	.button-size(16px, 26px, 18px, 24px, 0px);

	&--facebook {
		color: #fff;
		background-color: #3B599E;

		&:hover {
			background-color: darken(#3B599E, 10%);
		}
	}
	&--twitter {
		color: #fff;
		background-color: #45b0e3;

		&:hover {
			background-color: darken(#45b0e3, 10%);
		}
	}
}


.header {
	.clearfix();


}

.main {
	&__content {
		&:extend(.row);
		position: relative;
		.clearfix();
	}
}



@keyframes colorCycle
{
	0%   {background-color:#00838f;}
	8%   {background-color:#f5d010;}
	15%  {background-color:#ec008c;}
	23%  {background-color:#008dd0;}
	30%  {background-color:#39b54a;}
	38%  {background-color:#c4cb00;}
	48%  {background-color:#f7941d;}
	54%  {background-color:#ab218e;}
	61%  {background-color:#1b75bc;}
	69%  {background-color:#8dc63f;}
	77%  {background-color:#00ae95;}
	84%  {background-color:#00ae95;}
	92%  {background-color:#7351a1;}
	100% {background-color:#1b1464;}
}

@-webkit-keyframes colorCycle
{
	0%   {background-color:#00838f;}
	8%   {background-color:#f5d010;}
	15%  {background-color:#ec008c;}
	23%  {background-color:#008dd0;}
	30%  {background-color:#39b54a;}
	38%  {background-color:#c4cb00;}
	48%  {background-color:#f7941d;}
	54%  {background-color:#ab218e;}
	61%  {background-color:#1b75bc;}
	69%  {background-color:#8dc63f;}
	77%  {background-color:#00ae95;}
	84%  {background-color:#00ae95;}
	92%  {background-color:#7351a1;}
	100% {background-color:#1b1464;}
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    } 50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@media (max-width: @screen-lg-desktop) {



}

@media (max-width: @screen-tablet) {



}